.agent-profile-img-parent-container{
    margin: auto;
    width: 250px;
    height: 250px;
    position: relative;
    margin-bottom: 40px;
}

.agent-profile-img-container{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.agent-profile-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* .agent-profile-img-icon-container{
    position: relative;
} */

.agent-profile-img-parent-container .agent-profile-img-icon{
    font-size: 1.563rem;
    color: var(--primary-color);
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
}

.agent-change-profile-form{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

/* .agent-change-profile-form{
    display: inline-block;
   
} */

.agent-change-profile-input-container{
    cursor: pointer;
}

.agent-change-profile-input{
    /* padding: 5px 10px; */
    display: none;
    opacity: 0;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.chosen-img{
    color: rgb(0, 207, 0);
}

.profile-change-btn-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.profile-change-btn-container button{
    display: inline-block;
}

.profile-change-btn-container :nth-child(1){
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    margin-right: 5px;
}

.profile-change-btn-container :nth-child(2){
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

/* .agent-profile-img-icon-container input{
    position: absolute;
    right: 0;
    top: 0;
} */

.agent-change-profile-input-container{
    position: relative;
    cursor: pointer;
    /* margin: auto; */
    text-align: center;
    padding: 5px 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.agent-change-profile-input{
    /* position: absolute; */
    /* opacity: 0; */
    /* z-index: -1; */
    left: 0;
    display: inline-block;
    width: 100%;
}

.agent-name-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.agent-name-container p{
    font-size: 1.563rem;

}

.agent-name-container .agent-profile-name-icon{
    font-size: 1.563rem;
    color: var(--primary-color);
    cursor: pointer;
    margin-left: 20px;
}

.agent-id{
    font-size: 1.125rem;
    text-align: center;
    margin-top: 10px;
}

.agent-coin-container{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.agent-coin-container > p{
    font-size: 1.563rem;
    font-weight: 600;
}

.agent-remaining-coin-container{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.agent-remaining-coin-container p{
    font-size: 1.563rem;
    font-weight: 600;
}

.agent-remaining-coin-icon{
    font-size: 2.5rem;
    margin-left: 10px;
}

.agent-transaction-history-parent-container{
    width: 850px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

.agent-transaction-history-parent-container > p{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.agent-transaction-history-labels-container{
    display: flex;
    margin-bottom: 5px;
    margin-left: 20px;
}



.agent-transaction-history-labels-container p:nth-child(2){
    margin-left: 150px;
}
.agent-transaction-history-labels-container p:nth-child(3){
    margin-left: 110px;
}
.agent-transaction-history-labels-container p:nth-child(4){
    margin-left: 30px;
}
.agent-transaction-history-labels-container p:nth-child(5){
    margin-left: 20px;
}
.agent-transaction-history-labels-container p:nth-child(6){
    margin-left: 90px;
}

.agent-transaction-history-header{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.agent-transaction-history-rows-container{
    width: 100%;
    height: 16.25em;
    background-color: white;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    overflow-y: scroll;
}

.agent-transaction-history-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agent-transaction-history-row:not(:first-child){
    margin-top: 15px;
}

.agent-transaction-history-row p:nth-child(1){
    width: 100px;
}
.agent-transaction-history-row p:nth-child(2){
    width: 90px;
}
.agent-transaction-history-row p:nth-child(3){
    width: 20px;
}
.agent-transaction-history-row p:nth-child(4){
    width: 20px;
}
.agent-transaction-history-row p:nth-child(5){
    width: 60px;
}
.agent-transaction-history-row p:nth-child(6){
    width: 70px;
}

.agent-transaction-accepted{
    color: rgb(0, 207, 0);
}
.agent-transaction-declined{
    color: red;
}



.change-username-input{
    height: 40px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
}

.confirm-username-btn, .cancel-username-btn{
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
}

.confirm-username-btn{
    border: 2px solid var(--secondary-color);
    margin-right: 5px;
}

.cancel-username-btn{
    border: 2px solid var(--primary-color);
}

@media screen and (max-width:1600px){
    .agent-transaction-history-labels-container p:nth-child(2){
        margin-left: 150px;
    }
    .agent-transaction-history-labels-container p:nth-child(3){
        margin-left: 110px;
    }
    .agent-transaction-history-labels-container p:nth-child(4){
        margin-left: 30px;
    }
    .agent-transaction-history-labels-container p:nth-child(5){
        margin-left: 40px;
    }
    .agent-transaction-history-labels-container p:nth-child(6){
        margin-left: 95px;
    }
}
