.sale-header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 60px;
}

.sale-filters-container{
    /* margin: 40px 0; */
    margin-bottom: 40px;
    display: flex;
}

.sale-filter-date-input{
    width: 200px;
    height: 40px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

.sale-filter-customer-filter input{
    width: 200px;
    height: 40px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    margin-left: 20px;
}

.sale-filter-round-filter{
    width: 200px;
    height: 40px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    margin-left: 20px;
}

.sale-details-labels-container{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.sale-details-labels-container p{
    font-weight: 500;
}

.sale-details-labels-container p:nth-child(1){
    margin-left: 30px;
}
.sale-details-labels-container p:nth-child(2){
    margin-left: 270px;
}
.sale-details-labels-container p:nth-child(3){
    margin-left: 270px;
}
.sale-details-labels-container p:nth-child(4){
    margin-left: 200px;
}
.sale-details-labels-container p:nth-child(5){
    margin-left: 240px;
}

.sale-details-rows-container{
    width: 100%;
    height: 300px;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    overflow-y: scroll;
}

.sale-details-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale-details-row:not(:last-child){
    margin-bottom: 20px;
}

.sale-details-row p:nth-child(1){
    width: 100px;
    
}

.sale-details-row p:nth-child(2){
    width: 100px;
}
.sale-details-row p:nth-child(3){
    width: 70px;
}
.sale-details-row p:nth-child(4){
    width: 30px;
}
.sale-details-row p:nth-child(5){
    width: 100px;
    text-align: end;
}

@media screen and (max-width:1600px){
    .sale-details-labels-container p:nth-child(1){
        margin-left: 30px;
    }
    .sale-details-labels-container p:nth-child(2){
        margin-left: 280px;
    }
    .sale-details-labels-container p:nth-child(3){
        margin-left: 260px;
    }
    .sale-details-labels-container p:nth-child(4){
        margin-left: 210px;
    }
    .sale-details-labels-container p:nth-child(5){
        margin-left: 250px;
    }
}

