.header{
    width: 100%;
    height: 100px;
    background-color: #5D5E6B;
}

.header-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1300px;
    margin: auto;
}

.language-container{
    display: flex;
    align-items: center;
    /* height: 60px; */

}

.flag-container{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 5px;
}

.flag-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-btn-container{
    display: flex;
    align-items: center;

}

.agent-remaining-amount{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    color: white;
    margin-right: 5rem;
}

.agent-remaining-amount .agent-remaining-header-coin-icon{
    margin-left: 5px;
}

.agent-comission{
    font-size: 1.125rem;
    color: white;
    margin-right: 50px;
}

.align-center{
    display: flex;
    align-items: center;
}

.align-center .log-out-btn{
    margin-top: 0;
}

.user-name{
    font-size: 1.125rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-name span{
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.profile-link{
    margin-left: 5px;
    position: relative;
    /* display: none; */
}



.profile-link .profile-link-icon{
    font-size: 20px;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.profile-dropdown-container{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 170px;
    /* height: 200px; */
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    /* display: none; */
    z-index: 2;
}

.profile-link-open{
    display: flex;
}

.profile-link-close{
    display: none;
}

.profile-dropdown-container a{
    display: inline-block;
    padding: 3px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    width: 120px;
    text-align: center;
}

.log-out-btn{
    /* margin-left: 5rem; */
    padding: 5px 20px;
    background-color: #FF5B5B;
    border: none;
    color: white;
    border-radius: 7px;
    /* display: block; */
    width: 120px;
    text-align: center;
    margin-top: 10px;
}

.agent-refree-profile-icon-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin-left: 50px;
}

.agent-refree-profile-icon-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.active-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 207, 0);
    position: absolute;
    top: 0;
    right: 0;
}

.login-btn{
    padding: 5px 20px;
    background-color: #FF5B5B;
    border: none;
    color: white;
    border-radius: 7px;
    margin-right: 5rem;
}

.signup-btn{
    padding: 5px 20px;
    background-color: #D9DEED;
    border: none;
    color: #676974;
    border-radius: 7px;
}

@media screen and (max-width:1600px){
    .header{
        height: 60px;
    }

    /* .profile-dropdown-container{
        bottom: -30px;
    } */


}