.navbar-container{
    width: 100%;
    height: 120px;
    max-width:1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logo{
    font-size: 1.563rem;
    font-weight: 600;
}

.navbar-links-container{
    /* margin: auto; */
    /* text-align: center; */
}

.navbar-links-container a{
    text-decoration: none;
    color: #676974;
    font-size: 1.125rem;
}

.navbar-links-container a:not(:last-child){
    margin-right: 2.188rem;
}

.navbar-btn-container button{
    padding: 10px;
    border: none;
    background-color: #FF5B5B;
    border-radius: 10px;
    color: white;

}

.navbar-btn-container button:not(:last-child){
    margin-right: 1.875rem;
}

.notification-bell-container{
    position: relative;
    width: 250px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.notification-bell{
    font-size: 25px;
    cursor: pointer;
    /* margin-right: 100px; */
    /* padding: 0 125px; */
    /* text-align: center; */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
  
}

.notification-bell-container .noti-active-dot{
    position: absolute;
    top: 0;
    right: 115px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:  rgb(0, 207, 0);;
}

.noti-dropdown-container{
    position: absolute;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    width: 250px;
    /* left: -200px; */
    /* bottom: 0; */
    top: 40px;
}

.noti-dropdown-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

}

.noti-dropdown-header p{
    font-size: 18px;
    font-weight: 600;
}

.noti-dropdown-header a{
    text-decoration: none;
    color: var(--secondary-color);
}

.noti-dropdown-row{
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.noti-dropdown-row:not(:first-child){
    margin-top: 15px;
}

.noti-dropdown-label{
    font-weight: 600;
    margin-bottom: 5px;
}

.noti-dropdown-message{
    width: 100%;
    overflow: hidden;
white-space: nowrap;
    text-overflow: ellipsis;
}

.noti-open{
    display: block;
}
.noti-close{
    display: none;
}

@media screen and (max-width:1600px){
    .navbar-container{
        height: 80px;
    }
}